<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linpinger.foxbook"
    android:versionCode="5"
    android:versionName="20170522" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:name=".FoxApp"
        android:icon="@drawable/book"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_BookList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" /> <!-- content -->
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*.fml" />
                <data android:pathPattern=".*.fml.old" />
                <data android:pathPattern=".*.db3" />
                <data android:pathPattern=".*.db3.old" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_SearchBook"
            android:label="搜索页面"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".Activity_QuickSearch"
            android:label="非浏览器控件搜索" >
        </activity>
        <activity
            android:name=".Activity_PageList"
            android:label="测试列表" >
        </activity>
        <activity
            android:name=".Activity_ShowPage4Eink"
            android:label="查看内容:E-ink设备专用" >
        </activity>
        
        <activity
            android:name=".Activity_BookInfo"
            android:label="编辑书籍信息"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".Activity_EBook_Viewer"
            android:label="查看Txt/Zip/Epub" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" /> <!-- content -->
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*.txt" />
                <data android:pathPattern=".*.zip" />
                <data android:pathPattern=".*.epub" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Setting"
            android:label="Fox的配置" >
        </activity>
        <activity
            android:name="com.linpinger.tool.Activity_FileChooser"
            android:label="Fox的文件选择器" >
        </activity>
</application>

</manifest>
